.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}

/* Título de los productos */
h2 {
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

/* Contenedor de los productos */
.productos-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  max-width: 1200px; /* Asegura que no se expandan demasiado las tarjetas */
  width: 100%;
  padding-top: 10px;
}
